.logo {
  margin-top: 25px;
}

.center {
  text-align: center;
}

.logo h1 {
  font-weight: 900;
  margin-bottom: 0px;
  font-size: 4em;
}

.logo p {
  font-weight: 300;
  margin-top: -10px;
  font-size: 1.8em;
}

.blurb {
  color: #000;
  background-image: url("img/blurb_bg.jpg");
  background-position: -50px -330px;
  padding-bottom: 50px;
}

.blurb h3 {
  padding-top: 80px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.services {
  margin-top: 20px;
}

.services div {
  color: #222;
}

.about p {
  font-size: 1.5em;
}

footer {
  background-color: #222;
  color: #fff;
}

footer h4 {
  font-size: 1.5em;
  font-weight: 300;
  padding: 20px;
}
